@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/* Sidebar css starts */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 a{
   text-decoration: none!important;
   color:inherit !important;
 }
 .navbar-div{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   padding: 10px 10px;
   background-color:#242329;
    
   color: #999;
 }
 .nav-links{
   display: flex;
   list-style-type: none;
   padding: 0px 10px;
  margin: 0px;
 }
 .nav-links li{
  padding: 0px 10px;
 }
 .nav-links li:hover{
 color:rgb(255, 255, 255);
 font-weight: 600;
 }
.wrapper-main{
  display: flex;
  min-height: 100vh;
  font: 16/1.1 "Roboto", sans-serif;
  background:  rgb(236, 236, 236);
  
}
.sidebar {
  flex-basis: 13rem;
  min-width: 4rem;
  
  background-color:#242329;
    color: #ececec;
    font-weight: 600;
  border-radius: 0.25rem;
  box-shadow: var(--shadow);
  position: relative;
  transition: flex 430ms ease;
}

.expand {
  flex: 0 1 3rem;
  transition: flex 230ms ease;
}

.nav-toggle {
  position: absolute;
  right: 0px;
  top:-10px;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background-color: transparent;
  cursor: pointer;
}

.nav-toggle i {
  font-size: 1.2rem;
  color: var(--accent2);
  transition: transform 500ms ease;
}

.expand .nav-toggle i {
  transform: rotate(180deg);
}

.expand .nav-toggle:hover {
  animation: beat 400ms cubic-bezier(0.35, 0.05, 0.62, 1.275);
  animation-iteration-count: 2;
 
}

@keyframes beat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin-inline: 0.35rem;
  padding-block-end: 0.5rem;
  list-style: none;
}

.nav-title {
font-size:14px;
}

 .sidebar-icon{
   width: 20px;
   fill:gray;
   color: gray;
 }


.nav__list-divider:not(.divider-a) {
  border-top: 1px solid var(--light200);
}

.expand .nav-title,
.expand .nav__list-divider {
  visibility: hidden;
}

.nav__item {
  margin-block: 0.125rem;
  border-radius: 0.2rem;
  position: relative;
}

.nav__link {
  display: flex;
  height: 2.25rem;
  gap: 0.75rem;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  color: #999;
}

.nav__item:hover .nav__link {
  background: var(--light400);
}

  

.nav__item:hover .nav__link-text,
.nav__item:focus-within .nav__link-text {
  font-weight: 600;
  font-size: 0.95rem;
  color: white;
}

 

 
.expand [data-tooltip]:hover::before {
  animation: showTooltip 200ms linear 100ms forwards;
}

@keyframes showTooltip {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%) scale(1);
    opacity: 1;
  }
}
/* Sidebar css ends */


/* Main body css Starts */

 .main-div-home{
   padding: 20px 20px;
 }
.row1{
  margin: 30px 0px;
}
.first-row-col1,.first-row-col2,.first-row-col3{
  background-color:#242329;
  color: #999;
  text-align: center;
  padding:10px;
  border-radius: 5px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.div-title{
  font-weight: 600;
  color: #999;
  font-size: 20px;
}
.div-text{
  color:  #999;
  font-size: 14px;
}
.row1-button-div{
  padding: 10px 0px;
}
.row1-btn{
  background-color: rgb(79, 191, 176);
  border:none;
  padding:6px 25px;
  border-radius: 5px;
  font-size: 14px;
  color:white;
  font-weight: 600;
}
.row1-btn:hover{
  background-color: rgb(60, 145, 133);
 transition: 0.5s ease-in;
}
.second-row-col1{
  background-color:#242329;
  color: #999;
  text-align: center;
  padding:10px;
  border-radius: 5px;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.row2-button-div{
  padding: 20px 0px;
}
.row2-btn{
  background-color: rgb(79, 191, 176);
  border:none;
  padding:6px 25px;
  border-radius: 5px;
  font-size: 14px;
  color:white;
  font-weight: 600;
  

}

.row2-btn:hover{
  background-color: rgb(60, 145, 133);
 transition: 0.5s ease-in;
 color: rgb(182, 182, 182);
}

table{
  color: #999!important;
}
table tr{
  color: #999!important;
}
.table-background{
  background-color: #242329;
  color: #999;
}

/* Course Page */
.course-background-image{
  background-image: url("../images/coursepage-banner.jpg");
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
padding: 200px 0px 200px 0px;

}
.course-background-text{
  margin: auto;
  color: white;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
}

.container-overlay{
  padding: 1em 0;
  float: left;
  width: 100%;
}
 

 
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 100%;
 
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: #35b6b5;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 0.7;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
    text-align:left;
    font-size:20px;
  padding:7px 0px 0px 10px;
}

.content-details p{
  padding-top: 20px;
  color: #fff;
  font-size: 0.8em;
  text-align: left;
  line-height: 30px;
}

.content-details-inner-div{
  display:flex;
   align-items:start; 
   color:white;
}


.fadeIn-bottom{
  top: 115%;
  background-color: #35b6b5;
  color: #fff;
  opacity: 1!important;
}
 

.content:hover  .fadeIn-bottom{
  background-color: transparent;
}
.text-overlay-image{
  background:#35b6b5;
  font-size:18px;
  font-weight:500;
  color: white;
  margin-top:-75px;
  padding:20px 20px;
  opacity:0.5;
   
}